.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    /* surround with whitespace */
    margin-bottom: 15px;
    margin-top: 15px;
}

#middle
{
    margin-top: 20px;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

.form-control
{
    margin:auto;
    margin-top: 20px;
    max-width: 250px;
}